[Unit]
Description=Mount root file system read-only
Before=systemd-tmpfiles-setup.service systemd-random-seed.service local-fs.target
After=systemd-remount-fs.service
DefaultDependencies=false

[Install]
WantedBy=local-fs.target

[Service]
ExecStart=/usr/sbin/readonly-setup
RemainAfterExit=yes
Type=oneshot
